body {
	
	background-color: #36454f;
	font-family: "Arial"
}

header {
  text-align: center;
}
header .main-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 4px #4f3639;
  transition: all .5s;
}

h1 {
	padding: 5px;
	text-align: center;
	color: #FFFFFF
}

.section-title {
	text-transform: capitalize;
	text-align: center;
	color: #FFFFFF
}

.blog-post {
	font-size: 24px;
	text-align: center;
	color: #FFFFFF
}

.qual-list {
	text-align: center;
	
}
