

body {
	background-color: #ffffff;
}


/* header of page*/
header {
  text-align: center;
  background-image: url("Images/profile.jpg");
  background-position: 75% 75%;
  background-repeat: no-repeat;
  background-size: 2077px 1382px;
  padding-top: 300px; 
}


h1 {
	padding: 5px;
	text-align: center;
	font-style: italic;
	color: rgb(0, 0, 0)
}

.section-title {
	text-align: center;
	color: #000
	
}

.temporary-message {
	text-align: center;
	font-size: 12px;

}


.qual-list {
	text-align: center;
	
}

footer{
	text-align: center;
}

footer ul li {
	display: inline-block;
  }

.social {
	text-decoration: none;
	color: orange;
}

footer a.link {
	color: orange
}